@using Alody.Models
@model Tuple<Alody.Models.ConsumerModel,Alody.Models.AzureStorageConfig,Alody.Models.SongsModel,Alody.Models.PlaylistModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    ViewData["Title"] = "Help";
}
<!DOCTYPE html>
<html lang="en" class="app">
<head>
    <meta charset="utf-8" />
    <title>Musik | Web Application</title>
    <meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="/css2/js/jPlayer/jplayer.flat.css" type="text/css" />
    <link rel="stylesheet" href="/css2/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/css2/animate.css" type="text/css" />
    <link rel="stylesheet" href="/css2/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="/css2/simple-line-icons.css" type="text/css" />
    <link rel="stylesheet" href="/css2/font.css" type="text/css" />
    <link rel="stylesheet" href="/css2/app.css" type="text/css" />
    <link rel="stylesheet" href="/css2/dropzone.css" type="text/css" />
    <!--[if lt IE 9]>
      <script src="js/ie/html5shiv.js"></script>
      <script src="js/ie/respond.min.js"></script>
      <script src="js/ie/excanvas.js"></script>
    <![endif]-->
</head>
<body onload="tryReload()" class="">
    <section class="vbox">
        <header class="bg-white-only header header-md navbar navbar-fixed-top-xs">
            <div class="navbar-header aside bg-info dk">
                <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen,open" data-target="#nav,html">
                    <i class="icon-list"></i>
                </a>
                <a href="@Url.Action("Homepage","Home")" class="navbar-brand text-lt">
                    <i class="icon-earphones"></i>
                    <img src="images/logo.png" alt="." class="hide">
                    <span class="hidden-nav-xs m-l-sm">Musik</span>
                </a>
                <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".user">
                    <i class="icon-settings"></i>
                </a>
            </div>      <ul class="nav navbar-nav hidden-xs">
                <li>
                    <a href="#nav,.navbar-header" data-toggle="class:nav-xs,nav-xs" class="text-muted">
                        <i class="fa fa-indent text"></i>
                        <i class="fa fa-dedent text-active"></i>
                    </a>
                </li>
            </ul>
            <form class="navbar-form navbar-left input-s-lg m-t m-l-n-xs hidden-xs" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-sm bg-white btn-icon rounded"><i class="fa fa-search"></i></button>
                        </span>
                        <input type="text" class="form-control input-sm no-border rounded" placeholder="Search songs, albums...">
                    </div>
                </div>
            </form>
            <div class="navbar-right ">
                <ul class="nav navbar-nav m-n hidden-xs nav-user user">
                    <li class="hidden-xs">
                        <a href="#" class="dropdown-toggle lt" data-toggle="dropdown">
                            <i class="icon-bell"></i>
                            <span class="badge badge-sm up bg-danger count">2</span>
                        </a>
                        <section class="dropdown-menu aside-xl animated fadeInUp">
                            <section class="panel bg-white">
                                <div class="panel-heading b-light bg-light">
                                    <strong>You have <span class="count">2</span> notifications</strong>
                                </div>
                                <div class="list-group list-group-alt">
                                    <a href="#" class="media list-group-item">
                                        <span class="pull-left thumb-sm">
                                            <img src="@ViewBag.Picture" alt="..." class="img-circle">
                                        </span>
                                        <span class="media-body block m-b-none">
                                            Use awesome animate.css2<br>
                                            <small class="text-muted">10 minutes ago</small>
                                        </span>
                                    </a>
                                    <a href="#" class="media list-group-item">
                                        <span class="media-body block m-b-none">
                                            1.0 initial released<br>
                                            <small class="text-muted">1 hour ago</small>
                                        </span>
                                    </a>
                                </div>
                                <div class="panel-footer text-sm">
                                   
                                    <a href="@Url.Action("Notifications","Home")" data-toggle="class:show animated fadeInRight">See all the notifications</a>
                                </div>
                            </section>
                        </section>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle bg clear" data-toggle="dropdown">
                            <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                                <img src="@ViewBag.Picture" alt="...">
                            </span>
                            @ViewBag.FirstName @ViewBag.LastName <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight">
                            <li>
                                <span class="arrow top"></span>
                                <a href="@Url.Action("Settings","Home")">Settings</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Profile","Home")">Profile</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Notifications","Home")">
                                    <span class="badge bg-danger pull-right">3</span>
                                    Notifications
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Help","Home")">Help</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="@Url.Action("Logout","Home")">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </header>
        <section>
            <section class="hbox stretch">
                <!-- .aside -->
                <aside class="bg-black dk aside hidden-print" id="nav">
                    <section class="vbox">
                        <section class="w-f-md scrollable">
                            <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railOpacity="0.2">



                                <!-- nav -->
                                <nav class="nav-primary hidden-xs">
                                    <ul class="nav bg clearfix">
                                        <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">
                                            Discover
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Homepage","Home")">
                                                <i class="icon-disc icon text-success"></i>
                                                <span class="font-bold">What's new</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="genres.html">
                                                <i class="icon-music-tone-alt icon text-info"></i>
                                                <span class="font-bold">Genres</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="events.html">
                                                <i class="icon-drawer icon text-primary-lter"></i>
                                                <b class="badge bg-primary pull-right">6</b>
                                                <span class="font-bold">Events</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="listen.html">
                                                <i class="icon-list icon  text-info-dker"></i>
                                                <span class="font-bold">Listen</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="video.html" data-target="#content" data-el="#bjax-el" data-replace="true">
                                                <i class="icon-social-youtube icon  text-primary"></i>
                                                <span class="font-bold">Video</span>
                                            </a>
                                        </li>
                                        <li class="m-b hidden-nav-xs"></li>
                                    </ul>

                                    <ul class="nav text-sm">
                                        <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">
                                            <span class="pull-right"><a href="#"><i class="icon-plus i-lg"></i></a></span>
                                            Playlist
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-music-tone icon"></i>
                                                <span>Hip-Pop</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-playlist icon text-success-lter"></i>
                                                <b class="badge bg-success dker pull-right">9</b>
                                                <span>Jazz</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                                <!-- / nav -->
                            </div>
                        </section>

                        <footer class="footer hidden-xs no-padder text-center-nav-xs">
                            <div class="bg hidden-xs ">
                                <div class="dropdown dropup wrapper-sm clearfix">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <span class="thumb-sm avatar pull-left m-l-xs">
                                            <img src="@ViewBag.Picture" class="dker" alt="...">
                                            <i class="on b-black"></i>
                                        </span>
                                        <span class="hidden-nav-xs clear">
                                            <span class="block m-l">
                                                <strong class="font-bold text-lt"> @ViewBag.FirstName @ViewBag.LastName</strong>
                                                <b class="caret"></b>
                                            </span>
                                            <span class="text-muted text-xs block m-l">Art Director</span>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu animated fadeInRight aside text-left">
                                        <li>
                                            <span class="arrow bottom hidden-nav-xs"></span>
                                            <a href="@Url.Action("Settings","Home")">Settings</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Profile","Home")">Profile</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Notifications","Home")">
                                                <span class="badge bg-danger pull-right">3</span>
                                                Notifications
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Help","Home")">Help</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="@Url.Action("Logout","Home")">Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </footer>
                    </section>
                </aside>
                <!-- /.aside -->
                <aside class="bg-white">
                    <section class="vbox">
                        <header class="header bg-light lt">
                            <ul class="nav nav-tabs nav-white">
                                <li class="active"><a href="#FAQ" data-toggle="tab">FAQ</a></li>
                                <li class=""><a href="#Contact" data-toggle="tab">Contact US</a></li>
                                <li class=""><a href="#about" data-toggle="tab">About</a></li>
                            </ul>
                        </header>
                        <section class="scrollable">

                            <div class="tab-content">
                                <div class="tab-pane active" id="FAQ">
                                    <ul class="list-group no-radius m-b-none m-t-n-xxs list-group-lg no-border">
                                        <li class="list-group-item">



                                            <strong class="block">Question 1:</strong>
                                            <small>Answer 1</small>

                                        </li>
                                        <li class="list-group-item">
                                            <strong class="block">Question 2:</strong>
                                            <small>Answer 2</small>
                                        </li>
                                        <li class="list-group-item">
                                            <strong class="block">Question 3:</strong>
                                            <small>Answer 3</small>
                                        </li>
                                        <li class="list-group-item">
                                            <strong class="block">Question 4:</strong>
                                            <small>Answer 4</small>
                                            </a>
                                        </li>
                                        <li class="list-group-item">
                                            <strong class="block">Question 5:</strong>
                                            <small>Answer 5</small>
                                            </a>
                                        </li>
                                        <li class="list-group-item">
                                            <strong class="block">Question 6:</strong>
                                            <small>Answer 6</small>
                                        </li>
                                        <li class="list-group-item">
                                            <strong class="block">Question 7:</strong>
                                            <small>Answer 7</small>
                                        </li>


                                    </ul>
                                </div>
                                <div class="tab-pane" id="Contact">
                                    <div class="text-center wrapper">

                                        <strong class="block">You can contact us using the information below: </strong>
                                        <small>Alody@gmail.com</small>
                                        <small>954-XXX-XXXX</small>
                                    </div>
                                </div>
                                <div class="tab-pane" id="about">
                                    <div class="text-center wrapper">
                                        <strong class="block">Our mission: </strong>
                                        <small>To create a website that provides access to a song database with which the user can interact through a GUI and to create a web application that connects to a database on a server through a web API made in .NET core.</small>



                                    </div>
                                </div>
                            </div>
                        </section>
                    </section>
                </aside>

            </section>
        </section>
    </section>
    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
    </section>
    </section>
    </section>
    </section>
    <script src="/css2/js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/css2/js/bootstrap.js"></script>
    <!-- App -->
    <script src="/css2/js/app.js"></script>
    <script src="/css2/js/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/css2/js/app.plugin.js"></script>
    <script type="text/javascript" src="/css2/js/jPlayer/jquery.jplayer.min.js"></script>
    <script type="text/javascript" src="/css2/js/jPlayer/add-on/jplayer.playlist.min.js"></script>
    <script type="text/javascript" src="/css2/js/jPlayer/demo.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/min/dropzone.min.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <script type="text/javascript">
        function tryReload(){
            var perfEntries = performance.getEntriesByType("navigation");

         if (perfEntries[0].type === "back_forward") {
              location.reload(true);

         }
         else if(perfEntries[0].type === "reload")
         {
             var email='@ViewData["Email"]';
              if(email==''){
                  console.log("Success");
                  alert("Your session has ended please login again!");
                  location.href='@Url.Action("Login","Home")';
              }
              else{
                  console.log("Fail2");
              }
         }
         else{
             console.log("Fail1");
         }
         };
    </script>
</body>
</html>