@{
    ViewData["Title"] = "Login Page";
    string[] TableHeaders = new string[]
    {
        "Song_ID", "Song_Name", "Song_Artist", "Song_Length", "Song_Genre"
    };
}
<div class= "table">
    <table>
        <thead>
            <tr>
                @{
                    foreach (var head in TableHeaders)
                    {
                        <th>
                            @head
                        </th>
                    }
                }
                <th>

                </th>
            </tr>
        </thead>
        @{
            if (Model != null)
            {
                foreach (var Data in Model)
                {
                <tr>
                    <td>@Data.Song_ID</td>
                    <td>@Data.Song_Name</td>
                    <td>@Data.Song_Artist</td>
                    <td>@Data.Song_Length</td>
                    <td>@Data.Song_Genre</td>
                </tr>
                }
            }
        }
        <tr>
            <td>
            </td>
        </tr>
        <tbody>
        </tbody>
    </table>
</div>
    
