@using Muszilla.Models
@model Tuple<ConsumerModel, AzureStorageConfig, SongsModel, PlaylistModel>

@{
    ViewData["Title"] = "User Homepage";
}
@if (ViewBag.Email != "")
{
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/cssHome/User_Homepage.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/js/User_Homepage.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="749316061457-lijhl1omteei71ntbfn4j0860ste6rdg.apps.googleusercontent.com">
}
<body onload="changeHashOnLoad(); ">
    <!-- This logo was created by hand by Natalia, so there is no link-->
    @if (@ViewBag.Email != "")
    {
        <div id="logo">
            <img src="/Pictures/officialMuszillaLogo.jpg" width="250px" alt="Image Of Muszilla logo">
        </div>
    }

    <!-- Current PlaylistID-->
    @if (@ViewBag.Email != "")
    {
        <div class="sidebar">

            <!-- This is the sidebar which you see on the user homepage -->
        <form class="form-horizontal" asp-action="searchForSongs" id="searchBar">
                <!-- the sidebar has a search songs input option and a search button-->
            <input id="searchsong" onclick="showSearchedSong()" asp-for="Item3.Song_Name" name="Song_Name" class="form-control" type="search" autocomplete="off" placeholder="Search A Song">
                <button type="submit" onclick="showSearchedSong()" id="lookupsong" class="searchbtn"> Search </button>
            </form>

            <div>
                <!-- The sidebar has a Home and settings button that will take the user to Home page or the settings page-->
            <button type="button" class="homebtn" onclick="showHome()" id="userHome"> Home </button>
                <button type="button" class="accountbtn" onclick="showAccount()" id="accountDetails"> Settings </button>
            </div>

            <div>
                <!-- This is where the name of the song is displayed when a song is playing-->
            <p style="color:#33CCFF; font-size: 14px;">Now Playing:</p>
                <div id="song-name" style="color:white; font-size: 14px; padding-left: 23px;">Playing songs show here </div>
            </div>

            <!-- We wanted to implement this but ran out of time, this would have been the area where you would see the recently played songs lists
                <div>
                <p>Recently Played  <i class="arrow down"></i> </p>

                <ul>
                    <li>Song 1 Name</li>
                    <li>Song 2 Name</li>
                    <li>Song 3 Name</li>
                </ul>

            </div>
            -->
            <!-- this is the logout button within the sidebar -->
        <div>
                <script type="text/javascript">
                    function signOut() {
                        var auth2 = gapi.auth2.getAuthInstance();
                        auth2.signOut().then(function () {
                            auth2.disconnect();
                            window.location = '/Home/Logout';
                        });

                    }

                    function onLoad() {
                        gapi.load('auth2', function() {
                            gapi.auth2.init();
                        });
                    }
                </script>
                <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
                <button type="button" class="logoutbtn" href="#" onclick="signOut()" id="logout">LOG OUT</button>
            </div>
        </div>
    }
    @if (@ViewBag.Email != "")
    {
        <!-- these are the 3 buttons in the top right corner of the user homepage where they can listen to top picked, and featured music and check out our genres-->
        <div>
            <button type="button" class="btn1" onclick="showTopPicks()" id="tp"> TOP PICKS </button>
            <button type="button" class="btn2" onclick="showFeatured()" id="feat"> FEATURED </button>
            <button type="button" class="btn3" onclick="showGenres()" id="gen"> GENRES </button>
        </div>
    }


    <!-- this is the actual home page container, that contains user information, their photo, and their list of playlists-->
    <div id="home_first">

        @if (@ViewBag.Email != "")
        {
            <!-- This image is from Pixabay by Stephanie Edwards and the Link is: https://pixabay.com/vectors/blank-profile-picture-mystery-man-973460/ -->
            <img id="userImage" src="@ViewBag.Picture" onerror="if (this.src != '/Pictures/emptyImage.png') this.src = '/Pictures/emptyImage.png';" />
            <div id="accountInfo">Account Details</div>
            <div id="firstName">@ViewBag.FirstName </div>
            <div id="lastName">@ViewBag.LastName </div>
            <div id="userEmail">@ViewBag.Email</div>

            <p style="top:252px;">My Playlists</p>
            <!-- this button allows the user to add a new playlist-->
            <form class="form-horizontal" asp-action="CreatePlaylist">
                <input id="playlistNameInput" asp-for="Item4.Playlist_Name" name="Playlist_Name" class="form-control" type="text" autocomplete="off" placeholder="New Playlist Name here">
                <button type="submit" id="newplaylistbtn" onclick="">Add Playlist</button>
            </form>

        }

        <!-- here we display the user's playlists -->
        <form id="f1">
            @if (@ViewBag.Email != "")
            {
                //List of Playlist IDs
                string result = "";

                <div class="container2">
                    <table class="items">
                        <tr Style="color: white;">
                            <th>
                                @Html.DisplayNameFor(model => model.Item4.Playlist_Name)
                            </th>
                        </tr>
                        <tr Style="color: white;" class="items">
                            <td onclick="showSongsDefault()">Playlist 1 (Default)</td>
                            @foreach (var item in Model.Item4.Playlists)
                            {
                                //Populate list with PlaylistIDs
                                result = item.Playlist_ID + "." + result;

                                //For each Playlist generate a button
                                <td onclick="showSongs('@result', '@item.Playlist_ID', '@item.Playlist_Name');">
                                    @Html.DisplayFor(modelItem => item.Playlist_Name)
                                    <span id="@item.Playlist_ID@item.Playlist_Name" style="display: none;" class="resize">@Html.DisplayFor(modelItem => item.Playlist_Name)</span>
                                </td>
                            }
                        </tr>
                    </table>
                </div>
            }
        </form>
        <span id="currentPlayListClicked" style="display:none;"></span>
    </div>

    <div id="loading">
        @if (@ViewBag.Email != "")
        {
            <p id="PlaylistNameDefault">Please Wait...</p>
            <center><div id="loaderWheel" class="loader"></div></center>
        }
    </div>


    <!-- this is the default playlist for each user thta contains a default list of songs for testing -->
    <div id="songsdefault">
        @if (@ViewBag.Email != "")
        {
            <p id="PlaylistNameDefault">Playlist 1 (Default)</p>
            <button id="backtoplaylists" onclick="gobacktoplaylists()"> Go Back</button>

            <div class="container3">
                <ul class="items">
                    <li onclick="localAudio('Going Higher')">Going Higher</li>
                    <li onclick="localAudio('Ukulele')">Ukulele</li>
                    <li onclick="localAudio('Memories')">Memories</li>
                    <li onclick="localAudio('Jazzy Frenchy')">Jazzy Frenchy</li>
                    <li onclick="localAudio('Energy')">Energy</li>
                    <li onclick="localAudio('Acoustic Breeze')">Acoustic Breeze</li>
                    <li onclick="localAudio('Little Idea')">Little Idea</li>
                    <li onclick="localAudio('Slow Motion')">Slow Motion</li>
                    <li onclick="localAudio('Buddy')">Buddy</li>
                    <li onclick="localAudio('Cute')">Cute</li>
                </ul>
            </div>
        }
    </div>

    <!-- this is an empty playlist where the user can upload their songs and play them too -->

    <div id='PlaylistsFromDB' class="Playlists">
        @if (@ViewBag.Email != "")
        {
            <!-- this is the back button that takes the user back to their homscreen-->
            <p id="PlaylistName"></p>

            <button id="backtoplaylists" onclick="gobacktoplaylists()"> Go Back</button>
            <form class="form-horizontal" asp-action="Homepage">
                <!-- this button updates the songs and the playlists -->
            <button type="submit" id="updateview" onclick=""> Update</button>
            </form>


            <!--This is the button to upload Songs-->
            <!-- Client side libs required  -->
            <main>
                <div class="box content" id="imageUpload">
                    <div>
                        <form action="/api/songs/upload" class="dropzone" id="image-upload" method="post" enctype="multipart/form">
                            <div class="dz-message needsclick">
                                <span class="note needsclick">
                                    <input asp-for="Item3.Song_Audio" name="Picture" id="uploadsongs" class="form-control" placeholder="Upload" accept="audio/*">
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/min/dropzone.min.js"></script>
            <script>
                // Grab links for the songs from backend api
                function fetchImageLinks() {
                    // Fetch songs
                    $.get(function (fetchedImageLinks) {
                        console.log(fetchedImageLinks)
                    });
                }
                // Start first interval
                fetchImageLinks()
                /* Dropzone */
                // "songUpload" is the camelized version of the HTML element's ID
                Dropzone.options.imageUpload = {
                    addRemoveLinks: true,
                    paramName: "files", // The name that will be used to transfer the file
                    dictDefaultMessage: "Drop files here or Click to Upload",
                    createImageThumbnails: false,
                    dictRemoveFileConfirmation: false,


                    init: function () {
                        myDropzone = this;
                        myDropzone.on("success", function (file, response) {
                            file.previewElement.remove();
                            console.log("Success");
                        });
                    },
                    removedfile: function (file) {
                        file.previewElement.remove();
                    }
                };
            </script>
            <!--This is the button to upload Songs   -->
            <!-- this is the container that will hold all the uploaded songs by the user-->
            <div class="container3">
                <table>
                    <tr Style="color: white;">
                        <th>
                            @Html.DisplayNameFor(model => model.Item3.Song_Name)
                        </th>
                    </tr>
                    <tr Style="color: white;" class="items">
                        @foreach (var item in Model.Item3.songsList)
                        {
                            <td onclick="myAudioFunction1('@item.Song_Name', '@item.Song_ID', '@item.Song_Audio')">
                                @Html.DisplayFor(modelItem => item.Song_Name)
                                <span id="@item.Song_ID@item.Song_Name" style="display: none;" class="resize">@Html.DisplayFor(modelItem => item.Song_Name)</span>
                                <span id="@item.Song_ID@item.Song_Audio" style="display: none;" class="resize">@Html.DisplayFor(modelItem => item.Song_Audio)</span>
                                <div>
                                    <button value="Delete" onclick="deleteSongs('@item.Song_ID', '@item.Song_Name')" type="submit" id="" class="DeleteButton"></button>
                                </div>
                            </td>
                        }
                    </tr>
                </table>
            </div>
        }
    </div>


    <!-- this is the code for the account screen so the user can access their account information and make changes to it-->
    <div id="account_screen">
        @if (@ViewBag.Email != "")
        {
            <img id="userImage" src="@ViewBag.Picture" onerror="if (this.src != '/Pictures/emptyImage.png') this.src = '/Pictures/emptyImage.png';" />
            <!--This is the button to upload images-->
            <!-- Client side libs required  -->
            <main>
                <div class="box content" id="imageUpload">
                    <div>
                        <form action="/api/images/upload"
                          class="dropzone"
                          id="image-upload"
                          method="post"
                          enctype="multipart/form">
                            <div class="dz-message needsclick">
                                <span class="note needsclick">
                                    <input asp-for="Item1.Picture" name="Picture" class="form-control" accept="image/*">
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/min/dropzone.min.js"></script>
            <script>
                // Grab links for images from backend api
                function fetchImageLinks() {
                    // Fetch images
                    $.get(function (fetchedImageLinks) {
                        console.log(fetchedImageLinks)
                    });
                }
                // Start first interval
                fetchImageLinks()
                /* Dropzone */
                // "imageUpload" is the camelized version of the HTML element's ID
                Dropzone.options.imageUpload = {
                    addRemoveLinks: true,
                    paramName: "files", // The name that will be used to transfer the file
                    dictDefaultMessage: "Drop files here or Click to Upload",
                    createImageThumbnails: false,
                    dictRemoveFileConfirmation: false,


                    init: function () {
                        myDropzone = this;
                        myDropzone.on("success", function (file, response) {
                            file.previewElement.remove();
                            console.log("Success");
                        });
                    },
                    removedfile: function (file) {
                        file.previewElement.remove();
                    }
                };
            </script>
            <!--This is the button to upload images-->
        }

        <!-- the functions below are to fetch the user's account information from the database and fill that into their respective areas -->
        <form class="form-horizontal" asp-action="Update">
            @if (@ViewBag.Email != "")
            {
                <p id="f">
                    First Name:
                    <!-- this gets the user's first name-->
                <input id="fn" asp-for="Item1.FirstName" name="FirstName" class="form-control" type="text" autocomplete="off" style="color:white;" placeholder="@ViewBag.FirstName">
                </p>
                <p id="edit_one">(Click to edit)</p>

                <p id="l">
                    Last Name:
                    <!-- this gets the user's last name-->
                <input id="ln" asp-for="Item1.LastName" name="LastName" class="form-control" type="text" autocomplete="off" style="color:white" placeholder="@ViewBag.LastName">
                </p>
                <p id="edit_two">(Click to edit)</p>

                <p id="e">
                    Your Email:
                    <!-- this gets the user's email-->
                <input id="UEmail" asp-for="Item1.Email" name="Email" class="form-control" type="email" autocomplete="off" style="color:white;" placeholder="@ViewBag.Email">
                </p>
                <p id="edit_three">(Click to edit)</p>

                if (@ViewBag.isGoogleUser.ToString().Contains("0"))
                {
                    <p id="p">
                        Password:
                        <!-- this gets the user's password-->
                        <input id="UPassword" asp-for="Item1.Pass_word" name="Pass_word" class="form-control" type="password" style="color:white;" autocomplete="off" placeholder="@ViewBag.Pass_word"><br /><br />
                        <input style="color:white;" contenteditable="true" type="checkbox" onclick="showPassword()" id="SPassword">Show Password
                    </p>
                    <p id="edit_four">(Click to edit)</p>
                }

                <button type="submit" value="Save" onclick="" id="saveInfo" class="savebtn">Save Changes</button>
            }
        </form>
    </div>


    <!-- this list of songs will appear when the user will try to search something in the search bar-->
    <div id="list_search_songs">
        <p id="Sort">Sort by:</p>
        <form class="form-horizontal" asp-action="sortSongsByName">
            <button type="submit" id="" class="SortName"> Name </button>
        </form>
        <form asp-action="sortSongsByDate">
            <button type="submit" id="" class="SortByDate"> Date </button>
        </form>
        <p id="results">Your Search Results: </p>
        <button id="backtoplaylists" onclick="gobacktoplaylists()"> Go Back</button>
        <main>
            <div class="box content" id="imageUpload">
                <div>
                    <form asp-action="searchForAllSongs" class="" id="image-upload">
                        <button type="submit" name="Song_Name" id="uploadsongs" onclick="showSearchedSong()" class="form-control">Search for all songs</button>
                    </form>
                </div>
            </div>
        </main>
        @if (@ViewBag.Email != "" && Model.Item3.searchedSongsList != null)
        {

            <div class="container1">
                <table>
                    <tr Style="color: white;">
                        <th>
                            <!-- Html.DisplayNameFor(model => model.Item3.Song_Name) -->
                    </th>
                    </tr>
                    <tr Style="color: white;" class="items">
                        @foreach (var item in Model.Item3.searchedSongsList)
                        {
                            <td onclick="myAudioFunction1('@item.Song_Name', '@item.Song_ID', '@item.Song_Audio')">
                                @Html.DisplayFor(modelItem => item.Song_Name)
                                <span id="@item.Song_ID@item.Song_Name" style="display: none;" class="resize">@Html.DisplayFor(modelItem => item.Song_Name)</span>
                                <span id="@item.Song_ID@item.Song_Audio" style="display: none;" class="resize">@Html.DisplayFor(modelItem => item.Song_Audio)</span>
                                <div>
                                    <button value="Add" onclick="AddSongToPlaylist('@item.Song_Audio', '@item.Song_Name')" type="button" id="" class="AddButton"></button>
                                </div>
                            </td>
                        }
                    </tr>
                </table>
            </div>
        }
    </div>

    <!-- this list of playlist will appear when the user will try to add a new song to a playlist-->
    <div id="list_add_songs_to_playlist">
        <p id="AddToPlaylist">Select a playlist to add your song to: </p>
        <button id="backtoplaylists" onclick="gobacktoplaylists()"> Go Back</button>
        @if (@ViewBag.Email != "" && Model.Item4.Playlists != null)
        {

            <div class="container3">
                <table>
                    <tr Style="color: white;">
                        <th>
                            <!-- Html.DisplayNameFor(model => model.Item3.Song_Name) -->
                    </th>
                    </tr>
                    <tr Style="color: white;" class="items">
                        @foreach (var item in Model.Item4.Playlists)
                        {
                            //For each Playlist generate a button
                            <td onclick="selectPlaylist('@item.Playlist_ID', '@item.Playlist_Name')">
                                @Html.DisplayFor(modelItem => item.Playlist_Name)
                                <span id="@item.Playlist_ID@item.Playlist_Name" style="display: none;" class="resize">@Html.DisplayFor(modelItem => item.Playlist_Name)</span>
                            </td>
                        }
                    </tr>
                </table>
            </div>
        }
    </div>

    <!-- this is the top picks button with top picked songs -->
    <div id="topPicks">
        @if (@ViewBag.Email != "")
        {
            <!-- Photo is from Pexels by Garrett Morrow and the Link is: https://www.pexels.com/photo/top-view-photo-of-black-wireless-headphones-1649771/  -->
            <a onclick="localAudio('Acoustic Breeze')"><img class="btn01" src="/Pictures/headPhones.jpg" /><p id="item1">Acoustic Breeze</p></a>
            <a onclick="localAudio('DubStep')"><img class="btn02" src="/Pictures/headPhones.jpg" /><p id="item2">DubStep</p></a>
            <a onclick="localAudio('Energy')"><img class="btn03" src="/Pictures/headPhones.jpg" /><p id="item3">Energy</p></a>
            <a onclick="localAudio('Memories')"><img class="btn04" src="/Pictures/headPhones.jpg" /><p id="item4">Memories</p></a>
            <a onclick="localAudio('Slow Motion')"><img class="btn05" src="/Pictures/headPhones.jpg" /><p id="item5">Slow Motion</p></a>
            <a onclick="localAudio('Jazzy Frenchy')"><img class="btn06" src="/Pictures/headPhones.jpg" /><p id="item6">Jazzy Frenchy</p></a>
        }
    </div>

    <!-- this is the featured button that shows the featured songs-->
    <div id="featured">
        @if (@ViewBag.Email != "")
        {
            <!-- Photo is from Pexels by Garrett Morrow and the Link is: https://www.pexels.com/photo/top-view-photo-of-black-wireless-headphones-1649771/  -->
            <a onclick="localAudio('Buddy')"><img class="btn01" src="/Pictures/headPhones.jpg" /><p id="item1">Buddy</p></a>
            <a onclick="localAudio('Cute')"><img class="btn02" src="/Pictures/headPhones.jpg" /><p id="item2">Cute</p></a>
            <a onclick="localAudio('Memories')"><img class="btn03" src="/Pictures/headPhones.jpg" /><p id="item3">Memories</p></a>
            <a onclick="localAudio('Going Higher')"><img class="btn04" src="/Pictures/headPhones.jpg" /><p id="item4">Going Higher</p></a>
            <a onclick="localAudio('Little Idea')"><img class="btn05" src="/Pictures/headPhones.jpg" /><p id="item5">Little Idea</p></a>
            <a onclick="localAudio('Ukulele')"><img class="btn06" src="/Pictures/headPhones.jpg" /><p id="item6">Ukulele</p></a>
        }
    </div>

    <!--- this is the genres button that shows the songs genres we have -->
    <div class="genreInfo" id="genres">
        @if (@ViewBag.Email != "")
        {
            <!-- Photo is from Pexels by cottonbro and the link is: https://www.pexels.com/photo/persons-hand-doing-peace-sign-4629625/ -->
            <div><img src="/Pictures/rock.jpg" id="rock" /><p id="info1">ROCK</p></div>

            <!-- Photo is from Pexels by Hannah Gibs and the link is: https://www.pexels.com/photo/photo-of-man-holding-microphone-949274/ -->
            <div><img src="/Pictures/pop.jpg" id="pop" /><p id="info2">POP</p></div>

            <!-- Photo is from Pexels by Budgeron Bach and the link is: https://www.pexels.com/photo/wistful-black-man-listening-to-radio-from-vintage-tape-recorder-5158214/ -->
            <div><img src="~/Pictures/hiphop.jpg" id="hiphop" /><p id="info3">HIPHOP</p></div>

            <!-- Photo is from Pexels by cottonbro and the link is: https://www.pexels.com/photo/gold-saxophone-in-black-background-4709822/ -->
            <div><img src="~/Pictures/jazz.jpg" id="jazz" /><p id="info4">JAZZ</p></div>

            <!-- Photo is from Pexels by Thibault Trillet and the link is: https://www.pexels.com/photo/man-in-black-formal-suit-holding-electric-guitar-while-raising-his-right-hand-and-opening-his-mouth-in-tilt-shift-lens-photography-167471/ -->
            <div><img src="~/Pictures/country.jpg" id="country" /><p id="info5">COUNTRY</p></div>

            <!-- Photo is from Pexels by Kaique Rocha and teh link is: https://www.pexels.com/photo/man-playing-cielo-555345/ -->
            <div><img src="~/Pictures/classical.jpg" id="classical" /><p id="info6">CLASSICAL</p></div>

            <!-- Photo is from Pexels by NEOSiAM and the link is: https://www.pexels.com/photo/silver-disco-ball-593467/ -->
            <div><img src="~/Pictures/disco.jpg" id="disco" /><p id="info7">DISCO</p></div>

            <!-- Photo is from Pexels by ArtHouse Studio and the link is: https://www.pexels.com/photo/crop-person-standing-near-bonfire-with-mongolian-folk-instrument-in-valley-4348099/ -->
            <div><img src="~/Pictures/folk.jpg" id="folk" /><p id="info8">FOLK</p></div>
        }
    </div>

    <!-- below is the audio player -->
    <div id="audio_container">
        @if (@ViewBag.Email != "")
        {
            <audio controls id="audio_player" src="audio/demo.mp3">
                <div>
                    Sorry, your browser does not support this audio player.
                </div>
            </audio>
        }
    </div>
</body>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };
    </script>
}
@if (@ViewBag.Email == "")
{
    <script>alert("Please log in again");</script>
}



