@model Tuple<ConsumerModel, AzureStorageConfig, EditModel>
@{
    ViewData["Title"] = "User Homepage";
}

<link rel="stylesheet" type="text/css" href="/css/User_Homepage.css" />

<body onload="changeHashOnLoad(); ">
    <!-- This logo was created by hand by Natalia, so there is no link-->
    <div id="logo">
        <img src="/Pictures/officialMuszillaLogo.jpg" width="250px" alt="Image Of Muszilla logo">
    </div>

    <!-- random comment for testing-->
    <div class="sidebar">

        <form id="searchBar">
            <input type="search" id="searchsong" placeholder="Search" autocomplete="off">
            <button type="button" onclick="" id="lookupsong" class="searchbtn"> Search </button>
        </form>

        <div>
            <button type="button" class="homebtn" onclick="showHome()" id="userHome"> Home </button>
            <button type="button" class="accountbtn" onclick="showAccount()" id="accountDetails"> Account </button>
        </div>

        <div>
            <p style="color:#33CCFF; font-size: 14px;">Now Playing:</p>
            <div id="song-name" style="color:white; font-size: 14px; padding-left: 23px;" >Playing songs show here </div>
        </div>

        <div>
            <p>Recently Played  <i class="arrow down"></i> </p>

            <ul>
                <li>Song 1 Name</li>
                <li>Song 2 Name</li>
                <li>Song 3 Name</li>
            </ul>

        </div>

        <div>
            <button type="button" class="logoutbtn" onclick="location.href='@Url.Action("Logout", "Home")'" id="logout">LOG OUT</button>
        </div>
    </div>

    <div>
        <button type="button" class="btn1" onclick="showTopPicks()" id="tp"> TOP PICKS </button>
        <button type="button" class="btn2" onclick="showFeatured()" id="feat"> FEATURED </button>
        <button type="button" class="btn3" onclick="showGenres()" id="gen"> GENRES </button>
    </div>

    <div id="home_first">

        <!-- This image is from Pixabay by Stephanie Edwards and the Link is: https://pixabay.com/vectors/blank-profile-picture-mystery-man-973460/ -->
        <img id="userImage" src="@ViewBag.Picture" />
        <div id="firstName" contenteditable="true">@ViewBag.FirstName </div>
        <div id="lastName" contenteditable="true">@ViewBag.LastName </div>
        <div id="userEmail" contenteditable="true">@ViewBag.Email</div>

        <p>My Playlists</p>


        <form id="f1">
            <label for="audio_list" id="lbl1">
                Playlist 1:
            </label>
            <select onchange="change_audio_file();" id="audio_list">
                <!-- All this music is from bensound.com and the link is: https://www.bensound.com/ -->
                <option id="opt" value="">Select A Song </option>
                <option id="opt" value="/Music/anewbeginning.mp3">A New Beginning</option>
                <option id="opt" value="/Music/creativeminds.mp3">Creative Minds</option>
                <option id="opt" value="/Music/ukulele.mp3">Ukulele</option>
                <option id="opt" value="/Music/goinghigher.mp3">Going Higher</option>
                <option id="opt" value="/Music/cute.mp3">Cute</option>
                <option id="opt" value="/Music/buddy.mp3">Buddy</option>
                <option id="opt" value="/Music/littleidea.mp3">Little Idea</option>
                <option id="opt" value="/Music/jazzyfrenchy.mp3">Jazzy Frenchy</option>
            </select>
        </form>

    </div>

    <div id="account_screen">


        <img id="placeholderImage" src="@ViewBag.Picture" alt="Your Profile Picture" />
        <!--This is the button to upload images-->
        <!-- Client side libs required  -->
        <main>
            <div class="box content" id="imageUpload">
                <div>
                    <form action="/api/images/upload"
                          class="dropzone"
                          id="image-upload"
                          method="post"
                          enctype="multipart/form">
                        <div class="dz-message needsclick">
                            <span class="note needsclick">
                                <input asp-for="Item1.Picture" name="Picture" class="form-control" accept="image/*">
                            </span>
                        </div>
                       
                    </form>
                </div>
                
            </div>
        </main>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/min/dropzone.min.js"></script>
        <script>
            // Grab links for images from backend api 
            function fetchImageLinks() {
                // Fetch images
                $.get(function (fetchedImageLinks) {
                    console.log(fetchedImageLinks)
                });
            }
            // Start first interval
            fetchImageLinks()
            /* Dropzone */
            // "imageUpload" is the camelized version of the HTML element's ID
            Dropzone.options.imageUpload = {
                addRemoveLinks: true,
                paramName: "files", // The name that will be used to transfer the file
                dictDefaultMessage: "Drop files here or Click to Upload",
                createImageThumbnails: false,
                dictRemoveFileConfirmation: false,



                init: function () {
                    myDropzone = this;
                    myDropzone.on("success", function (file, response) {
                        file.previewElement.remove();
                        console.log("Success");
                        
                    });

                },
                removedfile: function (file) {
                    file.previewElement.remove();
                }

            };
            Dropzone.options.uploa
        </script>
        <!--This is the button to upload images-->
        <img id="placeholderImage" src="/Pictures/emptyImage.png" alt="Your Profile Picture" />

        <p id="f">
            First Name:
            <!-- Natalia commented out the line below. And the prohram works as expected with this change.-->
            <!-- <input asp-for="Item3.FirstName" name="FirstName" class="form-control"> -->
            <div id="fn" contenteditable="true" asp-for="Item3.FirstName" name="FirstName" class="form-control">@ViewBag.FirstName </div>
        </p>
        <p id="edit_one">(Double click to edit)</p>

        <p id="l">
            Last Name:
            <div id="ln" contenteditable="true">@ViewBag.LastName </div>
        </p>
        <p id="edit_two">(Double click to edit)</p>

        <p id="e">
            Your Email:
            <div id="UEmail" contenteditable="true">@ViewBag.Email</div>
        </p>
        <p id="edit_three">(Double click to edit)</p>

        <p id="p">
            Password:
            <input type="password" value="@ViewBag.Pass_word" id="UPassword"><br><br>
            <input contenteditable="true" type="checkbox" onclick="showPassword()" id="SPassword">Show Password
        </p>
        <p id="edit_four">(Double click to edit)</p>

        <div>
            <button type="button" class="savebtn" onclick="location.href='@Url.Action("Update", "Home")'" id="saveInfo">Save Changes</button>
        </div>
    </div>

    <div id="list_search_songs">

        <p id="results">Your Search Results: </p> 

        <div class="container1">
            <ul class="items">
                <li onclick="myAudioFunction1('Going Higher')" >Going Higher</li>
                <li onclick="myAudioFunction1('Ukulele')">Ukulele</li>
                <li onclick="myAudioFunction1('Memories')">Memories</li>
                <li onclick="myAudioFunction1('Jazzy Frenchy')">Jazzy Frenchy</li>
                <li onclick="myAudioFunction1('Energy')">Energy</li>
            </ul>
        </div>
        
        
    </div>

    <div id="topPicks">
        <!-- Photo is from Pexels by Garrett Morrow and the Link is: https://www.pexels.com/photo/top-view-photo-of-black-wireless-headphones-1649771/  -->
        <a onclick="myAudioFunction1('Acoustic Breeze')"><img class="btn01" src="/Pictures/headPhones.jpg" /><p id="item1">Acoustic Breeze</p></a>
        <a onclick="myAudioFunction1('DubStep')"><img class="btn02" src="/Pictures/headPhones.jpg" /><p id="item2">DubStep</p></a>
        <a onclick="myAudioFunction1('Energy')"><img class="btn03" src="/Pictures/headPhones.jpg" /><p id="item3">Energy</p></a>
        <a onclick="myAudioFunction1('Memories')"><img class="btn04" src="/Pictures/headPhones.jpg" /><p id="item4">Memories</p></a>
        <a onclick="myAudioFunction1('Slow Motion')"><img class="btn05" src="/Pictures/headPhones.jpg" /><p id="item5">Slow Motion</p></a>
        <a onclick="myAudioFunction1('Jazzy Frenchy')"><img class="btn06" src="/Pictures/headPhones.jpg" /><p id="item6">Jazzy Frenchy</p></a>
    </div>

    <div id="featured">
        <!-- Photo is from Pexels by Garrett Morrow and the Link is: https://www.pexels.com/photo/top-view-photo-of-black-wireless-headphones-1649771/  -->
        <a onclick="myAudioFunction1('Buddy')"><img class="btn01" src="/Pictures/headPhones.jpg" /><p id="item1">Buddy</p></a>
        <a onclick="myAudioFunction1('Cute')"><img class="btn02" src="/Pictures/headPhones.jpg" /><p id="item2">Cute</p></a>
        <a onclick="myAudioFunction1('Memories')"><img class="btn03" src="/Pictures/headPhones.jpg" /><p id="item3">Memories</p></a>
        <a onclick="myAudioFunction1('Going Higher')"><img class="btn04" src="/Pictures/headPhones.jpg" /><p id="item4">Going Higher</p></a>
        <a onclick="myAudioFunction1('Little Idea')"><img class="btn05" src="/Pictures/headPhones.jpg" /><p id="item5">Little Idea</p></a>
        <a onclick="myAudioFunction1('Ukulele')"><img class="btn06" src="/Pictures/headPhones.jpg" /><p id="item6">Ukulele</p></a>
    </div>

    <div class="genreInfo" id="genres">
        <!-- Photo is from Pexels by cottonbro and the link is: https://www.pexels.com/photo/persons-hand-doing-peace-sign-4629625/ -->
        <div><img src="/Pictures/rock.jpg" id="rock" /><p id="info1">ROCK</p></div>

        <!-- Photo is from Pexels by Hannah Gibs and the link is: https://www.pexels.com/photo/photo-of-man-holding-microphone-949274/ -->
        <div><img src="/Pictures/pop.jpg" id="pop" /><p id="info2">POP</p></div>

        <!-- Photo is from Pexels by Budgeron Bach and the link is: https://www.pexels.com/photo/wistful-black-man-listening-to-radio-from-vintage-tape-recorder-5158214/ -->
        <div><img src="~/Pictures/hiphop.jpg" id="hiphop" /><p id="info3">HIPHOP</p></div>

        <!-- Photo is from Pexels by cottonbro and the link is: https://www.pexels.com/photo/gold-saxophone-in-black-background-4709822/ -->
        <div><img src="~/Pictures/jazz.jpg" id="jazz" /><p id="info4">JAZZ</p></div>

        <!-- Photo is from Pexels by Thibault Trillet and the link is: https://www.pexels.com/photo/man-in-black-formal-suit-holding-electric-guitar-while-raising-his-right-hand-and-opening-his-mouth-in-tilt-shift-lens-photography-167471/ -->
        <div><img src="~/Pictures/country.jpg" id="country" /><p id="info5">COUNTRY</p></div>

        <!-- Photo is from Pexels by Kaique Rocha and teh link is: https://www.pexels.com/photo/man-playing-cielo-555345/ -->
        <div><img src="~/Pictures/classical.jpg" id="classical" /><p id="info6">CLASSICAL</p></div>

        <!-- Photo is from Pexels by NEOSiAM and the link is: https://www.pexels.com/photo/silver-disco-ball-593467/ -->
        <div><img src="~/Pictures/disco.jpg" id="disco" /><p id="info7">DISCO</p></div>

        <!-- Photo is from Pexels by ArtHouse Studio and the link is: https://www.pexels.com/photo/crop-person-standing-near-bonfire-with-mongolian-folk-instrument-in-valley-4348099/ -->
        <div><img src="~/Pictures/folk.jpg" id="folk" /><p id="info8">FOLK</p></div>

    </div>


    <div id="audio_container">
        <audio controls id="audio_player" src="audio/demo.mp3">
            <div>
                Sorry, your browser does not support this audio player.
            </div>
        </audio>
    </div>

    <script type="text/javascript">

        function change_audio_file() {
            var file_list = document.getElementById('audio_list');
            var file_to_play = file_list.options[file_list.selectedIndex].value;
            var player = document.getElementById('audio_player');
            player.src = file_to_play;
            player.play();
        }

        function showTopPicks() {

            document.getElementById("home_first").style.display = "none";
            document.getElementById("featured").style.display = "none";
            document.getElementById("genres").style.display = "none";
            document.getElementById("account_screen").style.display = "none";
            document.getElementById("list_search_songs").style.display = "none";
            document.getElementById("topPicks").style.display = "initial";
        }

        function showFeatured() {

            document.getElementById("home_first").style.display = "none";
            document.getElementById("topPicks").style.display = "none";
            document.getElementById("genres").style.display = "none";
            document.getElementById("account_screen").style.display = "none";
            document.getElementById("list_search_songs").style.display = "none";
            document.getElementById("featured").style.display = "initial";
        }

        function showGenres() {

            document.getElementById("home_first").style.display = "none";
            document.getElementById("topPicks").style.display = "none";
            document.getElementById("featured").style.display = "none";
            document.getElementById("account_screen").style.display = "none";
            document.getElementById("list_search_songs").style.display = "none";
            document.getElementById("genres").style.display = "initial";
        }

        function showHome() {

            document.getElementById("topPicks").style.display = "none";
            document.getElementById("featured").style.display = "none";
            document.getElementById("genres").style.display = "none";
            document.getElementById("account_screen").style.display = "none";
            document.getElementById("list_search_songs").style.display = "none";
            document.getElementById("home_first").style.display = "initial";

        }

        function showAccount() {

            document.getElementById("topPicks").style.display = "none";
            document.getElementById("featured").style.display = "none";
            document.getElementById("genres").style.display = "none";
            document.getElementById("home_first").style.display = "none";
            document.getElementById("list_search_songs").style.display = "none";
            document.getElementById("account_screen").style.display = "initial";
        }

        function showSearchedSong() {

            
            document.getElementById("list_search_songs").style.display = "initial";
            document.getElementById("topPicks").style.display = "none";
            document.getElementById("featured").style.display = "none";
            document.getElementById("genres").style.display = "none";
            document.getElementById("home_first").style.display = "none";
            document.getElementById("account_screen").style.display = "none";
        }

        var aAudio;
        var bAudio;
        
        function myAudioFunction1(song) {

            if (song == 'Buddy') {
                aAudio = '/Music/buddy.mp3';
                player = document.getElementById('audio_player');
                player.src = aAudio;
                player.play();
                document.getElementById('song-name').innerHTML = 'Buddy - By BenSound';
            }

            else if (song == 'Cute') {
                aAudio = '/Music/cute.mp3';
                player = document.getElementById('audio_player');
                player.src = aAudio;
                player.play();
                document.getElementById('song-name').innerHTML = 'Cute - By BenSound';
            }

            else if (song == 'Going Higher') {
                aAudio = '/Music/goinghigher.mp3';
                player = document.getElementById('audio_player');
                player.src = aAudio;
                player.play();
                document.getElementById('song-name').innerHTML = 'Going Higher - By BenSound';
            }

            else if (song == 'Little Idea') {
                aAudio = '/Music/littleidea.mp3';
                player = document.getElementById('audio_player');
                player.src = aAudio;
                player.play();
                document.getElementById('song-name').innerHTML = 'Little Idea - By BenSound';
            }

            else if (song == 'Ukulele') {
                aAudio = '/Music/ukulele.mp3';
                player = document.getElementById('audio_player');
                player.src = aAudio;
                player.play();
                document.getElementById('song-name').innerHTML = 'Ukulele - By BenSound';
            }

            else if (song == 'Acoustic Breeze') {
                bAudio = '/Music/acousticbreeze.mp3';
                player = document.getElementById('audio_player');
                player.src = bAudio;
                player.play();
                document.getElementById('song-name').innerHTML = 'Acoustic Breeze - By BenSound';
            }

            else if (song == 'DubStep') {
                bAudio = '/Music/dubstep.mp3';
                player = document.getElementById('audio_player');
                player.src = bAudio;
                player.play();
                document.getElementById('song-name').innerHTML = 'DubStep - By BenSound';
            }

            else if (song == 'Energy') {
                bAudio = '/Music/energy.mp3';
                player = document.getElementById('audio_player');
                player.src = bAudio;
                player.play();
                document.getElementById('song-name').innerHTML = 'Energy - By BenSound';
            }

            else if (song == 'Memories') {
                bAudio = '/Music/memories.mp3';
                player = document.getElementById('audio_player');
                player.src = bAudio;
                player.play();
                document.getElementById('song-name').innerHTML = 'Memories - By BenSound';
            }

            else if (song == 'Slow Motion') {
                bAudio = '/Music/slowmotion.mp3';
                player = document.getElementById('audio_player');
                player.src = bAudio;
                player.play();
                document.getElementById('song-name').innerHTML = 'Slow Motion - By BenSound';
            }

            else if (song == 'Jazzy Frenchy') {
                bAudio = '/Music/jazzyfrenchy.mp3';
                player = document.getElementById('audio_player');
                player.src = bAudio;
                player.play();
                document.getElementById('song-name').innerHTML = 'Jazzy Frenchy - By BenSound'; 
            }
        }

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#placeholderImage')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        function showPassword() {
            var x = document.getElementById("UPassword");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }

        var searchbutton = document.getElementById("lookupsong");
        var searchsomething = document.getElementById("searchsong");

        searchbutton.addEventListener("click", function () {
            if (searchsomething.value == "") {
                alert("Please enter a song to search.");
            }
            else {
                showSearchedSong();
            }
        });


    </script>

</body>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };
    </script>

}


